includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    # Pdo\Mysql (PHP 8.5+) : PHPStan ne connaît pas encore cette classe dans config/database.php
    ignoreErrors:
        - '#Access to constant ATTR_SSL_CA on an unknown class Pdo\\Mysql#'
    paths:
        - app
        - config
        - routes
        - database/factories
        - database/seeders
    excludePaths:
        - vendor
        - storage
        - bootstrap/cache
        - node_modules (?)
        - public
    tmpDir: storage/.phpstan

